*{
  font-family: Roboto;
}
.login-background{
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.login-area {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.wrapper{
  position: relative;
}
.close-login{
  position: absolute;
  top: 16px;
  right: calc(15vw);
}
.close-login:hover{
  color: red;
  cursor: pointer;
}
.image-upload{
  clip-path: circle();
}
.image-upload>label>img{
  height: 64px;
  width: 48px;
  cursor: pointer;
}
.image-upload>input {
  display: none;
}
.drawer-header{
  position: relative;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.drawer-header>span{
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 128px;
}
.add-btn{
  position: absolute;
  left: 20px;
}
.add-btn:hover{
  cursor: pointer;
  color: blue; 
}
.nav-bar{
  transition: margin 200ms;
}
.project{
  position: relative;
  height: 80px;
  cursor: pointer;
}
.delete-btn{
  position: absolute;
  left: 16px;
}
.delete-btn:hover{
  cursor: pointer;
  color: red;
}
.project-name{
  margin-left: 48px;
  min-width: calc(100% - 96px);
  background-color: white;
  font-size: 1rem;
  border: none;
  outline: none;
  pointer-events: none;
}
.project-name:focus{
  border-bottom: 1px solid gray;
  pointer-events: all;
}
.edit-btn{
  position: absolute;
  right: 16px;
}
.edit-btn:hover{
  cursor: pointer;
  color: blue;
}
.task-area{
  background-color:  #f6fafb;
  width: 80%;
  height: 80%;
  border-radius: 12px;
  padding: 12px 8px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.task-area>div{
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.main-body{
  transition: margin 200ms;
  display: grid;
  align-items: start;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 24px;
  grid-template-areas: 'header . . '
                        ' todo progress-area completed ';
  padding: 12px;
  
}
.main-body>h1{
  grid-area: header;
  justify-self: start;
  padding-left: 64px;
}
.todo{
  grid-area: todo;
 }
 .inprogress{
   grid-area: progress-area;
 }
 .completed{
   grid-area: completed;
 }
 .add-task-btn{
  background-color: #e8f1f1;
  outline: none;
  border: none;
  width: 85%;
  cursor: pointer;
 }
 .add-task-icon{
  color: #76b5ab;
 }
 .selected{
  -webkit-box-shadow: inset -1px -1px 3px 0px black; 
  box-shadow: inset -1px -1px 3px 0px black;
  border-top: 1px solid black;
 }
 