*{
  font-family: Roboto;
}
.login-background{
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.login-area {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.wrapper{
  position: relative;
}
.close-login{
  position: absolute;
  top: 16px;
  right: calc(15vw);
}
.close-login:hover{
  color: red;
  cursor: pointer;
}
.image-upload{
  clip-path: circle();
}
.image-upload>label>img{
  height: 64px;
  width: 48px;
  cursor: pointer;
}
.image-upload>input {
  display: none;
}
.drawer-header{
  position: relative;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.drawer-header>span{
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 128px;
}
.add-btn{
  position: absolute;
  left: 20px;
}
.add-btn:hover{
  cursor: pointer;
  color: blue; 
}
.nav-bar{
  transition: margin 200ms;
}
.project-list{
  list-style-type: none;
  padding: 0px;
}
.project{
  position: relative;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
}
.delete-btn{
  position: absolute;
  left: 16px;
}
.delete-btn:hover{
  cursor: pointer;
  color: red;
}
.project-name{
  margin-left: 48px;
  min-width: calc(100% - 96px);
  background-color: white;
  font-size: 1rem;
  border: none;
  outline: none;
  pointer-events: none;
}
.project-name:focus{
  border-bottom: 1px solid gray;
  pointer-events: all;
}
.edit-btn{
  position: absolute;
  right: 16px;
}
.edit-btn:hover{
  cursor: pointer;
  color: blue;
}
.task-area{
  background-color:  #f6fafb;
  width: 80%;
  height: 80%;
  min-height: 500px;
  border-radius: 12px;
  padding: 12px 8px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  overflow: auto;
}
.task-area>div{
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}
.main-body{
  transition: margin 200ms;
  display: grid;
  align-items: start;
  justify-content: center;
  justify-items: center;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 24px;
  grid-template-areas: 'header . . '
                        ' todo progress-area completed ';
  padding: 12px; 
}
.main-body.mobile{
  display: grid;
  align-items: start;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr 12fr 12fr;
  grid-template-areas: "header"
                        "todo"
                        "progress-area"
                        "completed";
}
.project-name-header{
  white-space: nowrap;
}
@media(max-width:600px){
  .project-name-header{
    font-size: 1.5rem;
    position: relative;
    right: 25px;
    z-index: -1;
  }
}
.main-body>h1{
  grid-area: header;
  justify-self: start;
  padding-left: 64px;
}
.todo{
  grid-area: todo;
 }
 .inprogress{
   grid-area: progress-area;
 }
 .completed{
   grid-area: completed;
 }
 .add-task-btn{
  background-color: #e8f1f1;
  outline: none;
  border: none;
  width: 85%;
  cursor: pointer;
 }
 .add-task-icon{
  color: #76b5ab;
 }
 .selected{
  -webkit-box-shadow: inset -1px -1px 3px 0px 
  #1976d2; 
  box-shadow: inset -1px -1px 3px 0px 
  #1976d2;
  border-top: 1px solid 
  #1976d2;
 }
 .task-list{
  list-style: none;
  padding: 0px;
  width: 90%;
  min-height: 100px;
  transition: border 100ms ease-in 200ms;
  display: flex;
  flex-direction: column;
  gap: 16px;
 }
 .task{
  background-color: white;
  border-radius: 4px;
  width: 100%;
  position: relative;
  
 }
 .height{
  min-height: 380px;;
 }
 .delete-task{
  position: absolute;
  right: 20px;
  top: 20px;
 }
 .delete-task:hover{
  color: red;
  cursor: pointer;
 }
 .task-name{
  outline: none;
  border:none;
  margin: 0 auto 12px;
  width: 80%;
  font-size: 1.5rem;
 }
 .task-name:focus{
  border-bottom: 1px solid gray;
  pointer-events: all;
 }
 .highlighted{
  border: 1px dashed #76b5ab;
  border-radius: 12px;
 }
 .task-description{
  resize: none;
  margin: 0 auto;
  width: 95%;
  font-size: 1rem;
  color: grey;
  border: none;
  outline: none;
 }
 .task-description:hover{
  cursor: text;
 }
 .task-description:focus{
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
 }
 .due-date{
  margin-bottom: 8px;
  font-size: 1.1rem;
 }
 .date-inp{
  margin-bottom: 16px;
  font-size: 1rem;
  border: none;
 }
 .date-inp:focus{
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
 }
 .calendar-icon{
  cursor: pointer;
  position: relative;
 }
 .calendar-wrapper{
  width: 50px;
  position: absolute;
  bottom: -10px;
  background-color: red;
 }
 .triangle{
  width: 30px;
  position: absolute;
  background-color: red;
  bottom: -10px;
 }